button {
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.edit-btn {
  margin-right: 5px;
  background-color: #1890ff;
  color: white;
  
}
.delete-btn {
  background-color: rgb(255, 65, 65);
  color: white;
}